<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>ContactsApp</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png"/>
</head>

<body>
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">MusicLib</a>
    <ul class="right">
      <li><a href="#">Test</a></li>
    </ul>
  </div>

</nav>
<div class="container">
  <div ng-controller="ArtistListController as ctrl">
    <h1>{{::ctrl.title}}</h1>

    <form name="artistAddFrom" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="artistName" type="text" ng-model="artist.name">
        </div>
        <div class="col s6">
          <input class="btn" type="submit" ng-click="ctrl.addArtist(artist)" value="Add artist"/>
        </div>
      </div>
    </form>

    <button class="waves-effect waves-light btn" ng-click="ctrl.toggleList()">Toggle List</button>

    <ul class="collection" ng-show="ctrl.showList">
      <li class="collection-item" ng-repeat="artist in ctrl.artists">
        <span class="title">{{artist.name}}</span>
      </li>
    </ul>
  </div>

</div>
</body>
</html>
